/* from /mystyle.css */

a:hover {  position: relative; clip:        rect(   ); text-decoration: none; visibility: visible; color: #FF0000; z-index: +1; left: 1px; top: 1px}
a:link {  text-decoration: none; clip:   rect(   )}
a:visited {  text-decoration: none}
a:active {  text-decoration: none}

/* 見出しスタイル設定 */

.headline1 {
    width: 500px;
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #444444;
}

.headline2 {
    width:120px;
    color: #444444;
    background: #c6e4ff;
    border-bottom: 3px solid #aac5de;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
}


