h1#title {
  font-size: 3rem;
  margin: 0;
  line-height: 1.1;
}

#title_sub {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.1;
  font-weight: bold;
}

img#poster {
  width: 100%;
  background-image: url("/komafes74/poster_bg.jpg");
  background-size: cover;
}

#article dt {
  font-weight: bold;
}
