#article {
  width: 100% !important;
  margin: 0 !important;
}
#content {
  display: flex;
  width: 100%;

  #main {
    width: 400px;
    padding: 20px;

    nav {
      ul {
        padding-left: 1em;
      }
      li {
        list-style: none;
          &::before {
            font-size: 0.9em;
            margin-right: 3px;
          }
      }
      &>ul>li {
        &::before { content: "■"; }
        &>ul>li {
          &::before { content: "□"; }
        }
      }
    }
  }

  #side {
    width: 300px;
    margin-left: 20px;

    border-left: 2px solid #ccc;

    h2 {
      background-color: #ccc;
      margin-top: 0;
      padding-left: 10px;
    }
    p {
      margin-left: 10px;
    }
  }

}
