---
import Layout from "@/layouts/default.astro";

import { getCollection } from "astro:content";
import { date_str } from "@/util";

const news_entries = (await getCollection("news"))
  .sort((a, b) => +b.data.date - +a.data.date)
  .slice(0, 5);
---

<Layout title="">
  <article id="article">
    <div id="content">
      <section id="main">
        <h1>東大無線部 JA1ZLO Web</h1>
        <nav>
          <ul>
            <li>
              <a href="/fornewcomer">新入生の方へ</a>
            </li>
            <li>
              <a href="/equipment">設備概要</a>
            </li>
            <li>
              <a href="/member">メンバー</a>
            </li>
            <li>
              イベント・コンテスト等
              <ul>
                <li>
                  <a href="/allja1/index.html">ALL JA1コンテスト</a>
                </li>
                <li>
                  <a href="/komafes/75/">駒場祭</a>
                </li>
                <li>
                  <a href="/univ_onair_together">大学社団一斉オンエア月間</a>
                </li>
              </ul>
            </li>
            <li>
              ハードウェア・ソフトウェア
              <ul>
                <li>
                  <a href="http://www.zlog.org/">ZLOG</a>
                </li>
                <li>
                  <a href="/hard_softwares">
                    その他のハードウェア・ソフトウェア
                  </a>
                </li>
                <li>
                  <a href="https://nextzlog.dev">無線部開発班</a>
                </li>
              </ul>
            </li>
            <li>
              受賞
              <ul>
                <li>
                  <a href="/socho">総長賞</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              リンク
              <ul>
                <li>
                  Twitter: <a href="https://twitter.com/JA1ZLO">@JA1ZLO</a>, <a
                    href="https://twitter.com/nextzlog">@nextzlog</a
                  >
                </li>
                <li>
                  通販: <a href="https://ja1zlo.base.shop">BASE</a>, <a
                    href="https://ja1zlo.booth.pm">BOOTH</a
                  >
                </li>
                <li>
                  <a href="/link.html">他大学無線部</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </section>

      <section id="side">
        <section id="news">
          <h2>広報</h2>
          <ul>
            {
              news_entries.map((entry) => (
                <li>
                  <span class="date">{date_str(entry.data.date)}</span>
                  <b>
                    {entry.data.url ? (
                      <a href={entry.data.url}>{entry.data.title}</a>
                    ) : (
                      entry.data.title
                    )}
                  </b>
                </li>
              ))
            }
          </ul>
          <p style={{ textAlign: "right" }}>
            <a href="/news">&gt;&gt;&gt;過去のお知らせ</a>
          </p>
        </section>
        <section>
          <h2>見学希望の方へ</h2>
          <p>
            年間を通じて部員を募集しています(他大学OK)
            <br />
            見学も可能です。お気軽に
            <a href="mailto:zlo.utokyo@gmail.com">ご連絡</a>下さい!
          </p>
        </section>
      </section>
    </div>
    <p style={{ textAlignLast: "right", paddingRight: "1em" }}>
      <small>Since 2004/3/22</small>
    </p>
  </article>
</Layout>

<style>
  #article {
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
  }
  #content {
    display: flex;
    width: 100%;

    #main {
      flex-grow: 1;
      padding: 20px;

      nav {
        ul {
          padding-left: 1em;
        }
        li {
          list-style: none;
          &::before {
            font-size: 0.9em;
            margin-right: 3px;
          }
        }
        & > ul > li {
          &::before {
            content: "■";
          }
          & > ul > li {
            &::before {
              content: "□";
            }
          }
        }
      }
    }

    #side {
      max-width: 400px;
      margin-left: 20px;

      border-left: 2px solid #ccc;

      h2 {
        background-color: #ccc;
        margin-top: 0;
        padding-left: 10px;
      }
      p {
        margin-left: 10px;
        padding-right: 10px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    #content {
      flex-direction: column;
      #main {
        margin-bottom: 20px;
      }
      #side {
        width: 100%;
        max-width: none;
        margin-left: 0;
        border-left: none;
        h2 {
          width: 100%;
          max-width: none;
        }
      }
    }
  }

  #news {
    ul {
      padding-left: 1em;
      li {
        list-style: none;
      }
    }

    span.date {
      font-size: 0.8em;
    }
  }
</style>
