AddHandler cgi-script htaccess
Options -Indexes
Options +ExecCGI +FollowSymLinks
AddType text/html cgi
AddHandler cgi-script cgi

#CacheEnable mem /tmp/ #CacheEnable not allowed here

RewriteEngine On
RewriteBase /home/ja1zlo/public_html
##RewriteBase /
##RewriteRule ^wiki$ /tmp/test-perl.cgi [R=302,P,L]
##RewriteRule ^wiki/(.*)$ http://z20z17z45.s1001.xrea.com/wp/$1 [P,L]
##RewriteRule ^wp/(.*)$ /tmp/wp.cgi?msg=$1&pproxyq=%{QUERY_STRING} [L]
RewriteRule ^wp/(.*)$ /tmp/wp.cgi?msg=$1&%{QUERY_STRING} [L]

AuthType Basic
AuthName      "Authentication required"
AuthUserFile  /home/ja1zlo/public_html/tmp/.htpasswd
AuthGroupFile /dev/null
Require       valid-user

#<IfModule mod_proxy.c>
#ProxyRequests Off

#    ProxyPass /wp/ http://z20z17z45.s1001.xrea.com/wp/
#    ProxyPassReverse /wp/ http://z20z17z45.s1001.xrea.com/wp/

#Header set Z-IP 0.0.0.0
