---
import Layout from "@/layouts/default.astro";
import { Image } from "astro:assets";

import ImagePaddle from "./_images/paddle.webp";
import ImageStraight from "./_images/straight.webp";
---

<Layout title="新歓立て看 解説">
  <article>
    <h1>立て看板の解説</h1>

    <section class="sign_wrapper">
      <div class="morse_sign">
        {
          (
            [
              [
                [
                  ["C", "-.-."],
                  ["Q", "--.-"],
                ],
                [
                  ["N", "-."],
                  ["E", "."],
                  ["W", ".--"],
                ],
                [
                  ["C", "-.-."],
                  ["O", "---"],
                ],
                [
                  ["M", "--"],
                  ["E", "."],
                  ["R", ".-."],
                  ["S", "..."],
                ],
              ],
              [
                [
                  ["D", "-.."],
                  ["E", "."],
                ],
                [
                  ["J", ".---"],
                  ["A", ".-"],
                ],
                [
                  ["1", ".---"],
                  ["Z", "--.."],
                ],
                [
                  ["L", ".-.."],
                  ["O", "---"],
                ],
              ],
              [
                [
                  ["W", ".--"],
                  ["E", "."],
                ],
                [
                  ["W", ".--"],
                  ["A", ".-"],
                  ["N", "-."],
                  ["T", "-"],
                ],
                [
                  ["Y", "-.--"],
                  ["O", "---"],
                  ["U", "..-"],
                ],
              ],
              [
                [
                  ["P", ".--."],
                  ["S", "..."],
                  ["E", "."],
                ],
                [["K", "-.-"]],
              ],
            ] as [string, string][][][]
          ).map((paragraph) => (
            <p>
              {paragraph.map((line) => (
                <>
                  {line.map(([char, morse]) => (
                    <span>
                      <ruby>
                        {morse}
                        <rt>{char}</rt>
                      </ruby>{" "}
                    </span>
                  ))}
                  <br />
                </>
              ))}
            </p>
          ))
        }
      </div>
    </section>

    <section>
      <h2>用語解説</h2>

      <dl>
        <dt>CQ</dt>
        <dd>各局、の意。特定の相手を指定しない呼び出し。</dd>
        <dt>DE</dt>
        <dd>こちらは。</dd>
        <dt>JA1ZLO</dt>
        <dd>
          東大無線部の無線局を識別する記号(コールサイン)。国の機関から指定を受けた唯一無二のもの。
        </dd>
        <dt>PSE</dt>
        <dd>PleaSEの略。よろしくお願いします、くらいの意味。</dd>
        <dt>K</dt>
        <dd>どうぞ。送信をやめて受信状態に入ることを意味する。</dd>
      </dl>
    </section>

    <section>
      <h2>モールス符号について</h2>
      <p>
        モールス符号は、電信のために開発された符号で、長短の点を組み合わせて文字や記号を表現するものです。
        アマチュア無線では、音声の通信も行いますが、モールス符号を使った通信も現役で行われており、
        東京大学アマチュア無線クラブにおいても、モールス符号を使った通信が行われています。
      </p>

      <p>
        モールス信号は音声信号と比べ弱い信号でも聞き取ることができるため、より遠くの無線局との通信が可能になります。
        過去にはヨーロッパやアメリカなどとも交信を行いました。
      </p>

      <p>
        モールス符号は電鍵と呼ばれる装置を使って送信します。
        以下の写真は、東大無線部が所有する電鍵です。
      </p>
      <div class="keyer_images">
        <Image src={ImagePaddle} alt="パドル型電鍵" />
        <Image src={ImageStraight} alt="縦振り型電鍵" />
      </div>
    </section>

    <p>
      <b>
        <a href="/">無線部のサイトはこちら!</a>
      </b>
    </p>
  </article>
</Layout>

<style>
  @font-face {
    font-family: "Morse Font";
    src: url("/assets/morse_font.woff2");
  }
  .sign_wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    overflow-x: auto;
    line-height: 2.5em;

    div.morse_sign {
      border: 1px solid black;
      font-size: 1em;
      box-shadow: 2px 2px 2px 1px black;
      white-space: nowrap;
      padding: 1rem;
      font-family: "Morse Font";
      p {
        margin: 2em 0;
      }
      ruby {
        rt {
          font-family: monospace;
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
  }

  .keyer_images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      height: auto;
    }
  }
  @media (min-width: 768px) {
    .keyer_images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      img {
        width: calc(50% - 1rem);
        height: auto;
        min-width: 200px;
      }
    }
  }
</style>
