a:link {  text-decoration: none; clip:   rect(   )}
a:visited {  text-decoration: none}
a:active {  text-decoration: none}
a:hover {  position: relative; clip:        rect(   ); text-decoration: none; visibility: visible; color: #FF0000; z-index: +1; left: 1px; top: 1px}

/* 個別ヘッダー */

td{
	font-size:small

}

/* ##### メイン ##### */
.main {
	width:700px;
	text-align:center;
	font-size:11px
	}

h2 {
	background-color:#666666;
	color:#ffffff;
	font-family:'Trebuchet MS', Verdana, Helvetica, sans-serif;
	font-size:14px;
	padding:3px 4px;
	margin-top:0;
	text-align:left
	}
h3 {
	background-color:#444444;
	color:#ffffff;
	font-family:'Trebuchet MS', Verdana, Helvetica, sans-serif;
	font-size:13px;
	padding:3px 4px;
	margin-top:0;
	text-align:left
	}

/* コンテンツ */
.topheader {
	font-size:12px;
	color:#ffffff;
	text-align:center
	}
.photomenu {
	margin-left:0px;
	valign:middle;
	text-align:left
	}

.photomenu img {
	border:solid 1px #444444;
	}

.photo img {
	border:0px #aaaaaa;
	}

.photo {
	margin-top:40px;
	margin-bottom:40px
	}

.caption {
	font-size:small;
	line-height:140%;
	margin:5px auto;
	}
.exif {
	font-size:10px;
	color:#666666;
	line-height:140%;
	width:400px;
	margin:5px auto;
	text-align:left;
	vertical-align:bottom
	}
.categorydescription {
	font-size:11px;
	color:#ffffff;
	line-height:140%;
	}

.prev img, .next img {
	vertical-align:middle
	}

.prev a, .next a {
	font-family:'Trebuchet MS', Verdana, Helvetica, sans-serif;
	}
.head a {
	font-family:'Trebuchet MS', Verdana, Helvetica, sans-serif;
	}

.prev {
	float:left
	}

.next {
	float:right
	}

/* フッター */
.foot {
	clear:both;
	border-top:solid 15px #666666;
	padding-top:0px;
	margin:10px auto;
	text-align:left;
	font-family:'Trebuchet MS', Verdana, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	}